.formWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(34, 193, 195);
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    height: 98vh;
  }
  
  .formGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  .form {
  width: 500px;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 35px 50px 35px;
    background-color: rgb(255, 255, 255);
  }
  
  
  
  .inputGroup {
      text-align: left;
      display: flex;
      flex-direction: column;
      min-height: 82px;
      width: 100%;
      margin-bottom: 9px;
    }
  
  .inputGroup label{
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 5px;
  }
  
    .inputGroup p {
      text-align: center;
      font-size: 13px;
    }
  
    .input:focus {
      border: 2px solid black;
    }
  
  .input {
      border-radius: 3px;
    font-size: 17px;
    border: 1px solid #000;
    background-color: rgb(226, 226, 226);
    display: block;
    width: 91%;
    align-self: center;
    padding: 7px 20px;
    box-shadow: 5px 3px 5px rgb(190, 190, 190);
  }
  
  .input::placeholder{
      color: rgb(73, 73, 73);
  }

  .form textarea::placeholder{
    font-size: 16px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  .message {
    margin: 0;
    margin-top: 3px;
    font-weight: bold;
  }
  
  .errorInput{
      background-color: rgb(252, 197, 197);
      border: 2px solid red;
  }
  
  .successInput{
  background-color: rgb(200, 255, 200);
  border: 2px solid green;
  }
  
  .errorMessage{
      color: rgb(255, 66, 66);
      
  }
  
  .successMessage{
      color: green;
  }
  
  .buttonSubmit{
      margin-top: 15px;
      background: rgb(34, 193, 195);
      background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
      outline: none;
      border: none;
      font-weight: bold;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 15px;
  }
  
  @media only screen  and (max-width:1450px) {
    .form{
      width: 400px;
    }
    .formGroup img{
      height: 600px;
      width: 700px;
    }
    
  }
  
  @media only screen  and (max-width:1300px){
      .form{
          width: 300px;
        }
        .formGroup img{
          height: 600px;
          width: 500px;
        }
  }