.card{
    border-radius: 10px;
text-align: center;
background: rgb(169,254,255);
background: linear-gradient(0deg, rgba(169,254,255,1) 0%, rgba(140,195,255,1) 52%, rgba(0,144,255,1) 100%); 
}

.title{
margin-bottom: 0;
}

.description{
    margin-top: 5px;
}